body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 600px;
    background-color: #1F2937;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
}


.header-logo {
 margin-left: 250px;

}

.header-links {
    margin-right: 250px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}