body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 600px;
    background-color: #1F2937;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 96px;
}


.header-logo {
 margin-left: 250px;
font-size: 24px;
color: #F9FAF8;
}

.header-links {
    margin-right: 250px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header-heading {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.header-subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-sub {
    display: flex;
    justify-content: center;
}



