body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 600px;
    background-color: #1F2937;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 96px;
}


.header-logo {
 margin-left: 485px;
font-size: 24px;
color: #F9FAF8;
}

.header-links {
    margin-right: 485px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header-heading {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    
    
}

.header-subtext, a {
    font-size: 18px;
    color: #E5E7EB;
    
    
}

.header-sub {
    display: flex;
    justify-content: center;
    
}

.header-information {
    width: 400px;
    flex-wrap: wrap;
    margin-right: 32px;
}

button {
    margin-top: 10px;
    font-size: 16px;
    width: 80px;
    background-color: #3b82f6;
    color: #E5E7EB;
    border: none;
    border-radius: 4px;
}

.card {
    height:140px ;
    width: 125px;
    border-color: #3882F6;
    border-width: medium;
    border-style: solid;
    border-radius: 6px;
    
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    
}

.information-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.card-list, .card-subtext-list {
    gap: 36px;
}

.card-subtext {
    width: 125px;
    height: 140px;
    text-align: center;
    color: rgb(78, 78, 78);
    padding-top: 6px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}


.quote-section {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-content {
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
width: 760px;
}

.quote-author {
    margin-left: 570px;
    font-size: 18px;
    font-weight: 600;
}

.sign-section {
    height: 400px;
}

.sign-banner {
    height: 160px;
    width: 1100px;
    background-color: #3882F6;
    border-radius: 8px;
}





